

/* Main Container */
.container {
    max-width: 500px;
    margin: 30px auto;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

/* Heading */
.header h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
    letter-spacing: 1px;
    color: #fbfaf7;
}

/* Investment Price Section */
.investment-total {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(66, 59, 59, 0.2);
    border: 1px solid rgba(33, 27, 27, 0.2);
    border-radius: 30px;
   
}

.investment-label {
    font-size: 18px;
    font-weight: 500;
}

.investment-value {
    font-size: 20px;
    font-weight: bold;
    color: #00ffab;
}

/* Returns Grid */
.returns-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.return-item {
    background: rgba(255, 255, 255, 0.08);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: 0.3s;
}

.return-item:hover {
    transform: translateY(-4px);
    background: rgba(255, 255, 255, 0.15);
}

.return-time {
    font-size: 16px;
    color: #f6f5ef;
    margin-bottom: 8px;
}

.return-amount {
    font-size: 20px;
    font-weight: bold;
    color: #f5ed06;
}

/* Progress Info */
.progress-info {
    font-size: 16px;
    margin: 20px 0;
}

.divider {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    margin: 20px 0;
}

/* Buttons */
.action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.buy-button,
.claim-button {
    width: 50%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.buy-button {
    background: #ffd600;
    color: #000;
}

.buy-button:hover {
    background: #ffea00;
}

.claim-button {
    background: #444;
    color: #aaa;
}

.claim-button:enabled {
    background: #28d89d;
    color: #000;
}

.claim-button:enabled:hover {
    background: #28d89d;
}

/* Total Revenue */
.total-return {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    border: 1px solid green;
    height: 70px;
    border-radius: 20px;
    background-color: #6ea668;
}

.total-value {
    color: #00ffab;
    font-weight: bold;
}
.con{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 50%;
    height: 150px;
   

}
#t{
    background-color: red;
    width: 100%;
    height: 23px;
}
